@model IEnumerable<AccountManage.Models.Manager>
@{
    ViewData["Title"] = "StaffBin";
}
@{
    Layout = "_ManagerLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if (@Model == null)
{
    <p>Bạn chưa có bài post</p>
}
else
{
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Username</th>
            <th>ID Card/Passport Number</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.DateOfBirth.ToShortDateString()</td>
                <td>@item.Gender</td>
                <td>@item.Address</td>
                <td>@item.ZipCode</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>@item.Username</td>
                <td>@item.IdCardPassportNumber</td>
                <td><a class="button" asp-action="StaffRecover" style="display: inline;" asp-route-id="@item.Id">Recover</a>|<a class="button" asp-action="DeleteStaff" style="display: inline;" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
}